<div style="margin: 0 auto; width:475px;">
  <div class="well">
    <div id="login">
      <%= render "login_form" %>
    </div>
    <div id="forgot_password" style="display:none;">
      <%= render 'forgot_password_form' %>
    </div>
    <div id="sign_up_form" style="display:none;">
      <%= render 'sign_up' %>
    </div>
    <div class="pull_right">
      <a href="#" id='login_form' style="display:none;">Login</a>
      <a href="#" id='forgot_password_toggle'>Forgot Password</a>
      <a href="#" id='sign_up_toggle'>Sign up!</a>
    </div>
  </div>
</div>